<!-- Using bootstrap as our Front-end Library for great UI and dynamic functions -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add a Student | Score Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Score Tracker</h1>
    <p>An App to track the progress of your students in real time.</p>
  </div>
</div>
<div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Add a Student</li>
    </ol>
</div>
<div class="container">
    <h2>Add a Student</h2>
    <form action="/student/add" method="POST" role="form">
        <div class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" name="fname" required>
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" name="lname" required>
        </div>
        <button type="submit" class="btn btn-default btn-primary">Add a Student</button>
    </form>
</div>

</body>
</html>
